<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="TestComponent.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
		
		<!-- Selenium Framework suite-->
      <class name="ClientApplication.POMClientAppWithHashMap"/>
      <class name="ClientApplication.POMClientAppEnd2EndFlow"/>
      <class name="ClientApplication.ClientAppEnd2EndFlow"/>
      <class name="ClientApplication.POMClientAppWithJSON"/>
      <class name="ClientApplication.POMClientAppDataProvider"/>
      
      <!-- Selenium 4 suite -->
      <class name="Selenium4.HandlePopupByUrl"/>
      <class name="Selenium4.WindowHandle"/>
      <class name="Selenium4.CDPCommandTest"/>
      <class name="Selenium4.PartialScreenshot"/>
      <class name="Selenium4.SetGeoLocation"/>
      <class name="Selenium4.GetConsoleLogs"/>
      <class name="Selenium4.GetNetworkLog"/>
      <class name="Selenium4.FailRequest"/>
      <class name="Selenium4.NetworkSpeed"/>
      <class name="Selenium4.MockRequest"/>
      <class name="Selenium4.BasicAuthentication"/>
      <class name="Selenium4.GetDimension"/>
      <class name="Selenium4.RelativeLocators"/>
      <class name="Selenium4.BlockRequest"/>
      <class name="Selenium4.MobileEmulator"/>
      
      <!-- Selenium Waits suite-->
      <class name="WaitSynchronization.ImplicitWait"/>
      <class name="WaitSynchronization.ExplicitWait"/>
      <class name="WaitSynchronization.FluentWaitClass"/>
      
      <!-- Window Scrolling-->
      <class name="Scrolling.WindowScrolling"/>

      <!--Miscellaneous in selenium -->
      <class name="Miscellaneous.Cookies"/>
      <class name="Miscellaneous.TakeScreenshot"/>
      <class name="Miscellaneous.BrokenLink"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
